<a href="https://colab.research.google.com/github/FuxBee/CEBProject/blob/main/notebooks/exercise2-explore-data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 2 - Explore data using pandas

Go to the website https://worldpopulationreview.com and download the *World Population* data as a csv file, or simply use our local copy stored in `./data/world-population-2022.csv`

In [1]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/fmmb/CEB/main/data/world-population-2022.csv")

### Analyse the dataset and select a subset of the data
1. How many lines and columns?
2. list all the columns
3. Create a subset of the data, containing the columns `pop2022`, `area`, `Density`, `GrowthRate`, using the following command:

        wp1 = data[['name', 'pop2022', 'area', 'GrowthRate', "rank"]].copy()

### Expore the data
1. show the data for the first 5 countries
2. show the data for the last 10 countries
3. show the data from countries ranked between 90 and 100
4. Check if `Portugal` is in the list
5. Show the statistics for `Portugal`

In [2]:
data.tail(10)
data[(data['rank'] >= 90) & (data['rank'] <= 100)]
'Portugal' in data['name'].values
data[data['name'] == 'Portugal']

,cca2,name,pop2022,pop2020,pop2050,pop2030,pop2019,pop2015,pop2010,pop2000,pop1990,pop1980,pop1970,area,Density,GrowthRate,WorldPercentage,rank
91,PT,Portugal,10140.57,10196.709,9084.576,9912.679,0.0,10368.351,10596.058,10297.112,9895.364,9750.964,8651.34,92090,110.1159,0.9973,0.0013,92

### Operate on data
2. Add a new country named `Tamriel` with a population of 3500000 and an area of 10000000 square meters

3. Change the area of `Tamriel` to 9000000

4. Create a new column `density`, based on the `area` and `pop2022`, which corresponds to the number of people per square meters. Note that the population count is in thousands.

5. Check that this column has similar values to the column `Density` in the original data

6. Create a new dataframe `wp2`, where the country name is the dataframe index

In [3]:
new_row = {'name': 'Tamriel', 'pop2022': 3500000, 'area': 10000000, 'CCA3': 'TAM', 'continent': 'Nirn', 'GrowthRate': 0.0, 'rank': len(data) + 1, 'Density': 0}
data = pd.concat([data, pd.DataFrame([new_row])], ignore_index=True)

In [4]:
data.loc[data['name'] == 'Tamriel', 'area'] = 9000000

In [5]:
data['density'] = data['pop2022'] / data['area']

In [6]:
# Compare the two columns (e.g., by calculating the difference)
density_diff = data['density'] - data['Density']

# Print some statistics or visualize the differences
print(density_diff.describe())
# or
# import matplotlib.pyplot as plt
# plt.plot(density_diff)
# plt.show()

count      233.000000
mean      -452.072203
std       2093.073710
min     -22227.417033
25%       -239.678781
50%        -96.233870
75%        -35.307757
max          0.388889
dtype: float64

In [7]:
wp2 = data.set_index('name')

### Perform calculations

1. Calculate the `mean` of the area of the 10 most poputaled countries
2. How many countries have a GrowthRate above 1.03?
3. How many countries have an area above 1 million square meteres?

In [8]:
# Sort by population and get the top 10
top_10_populated = data.sort_values(by='pop2022', ascending=False).head(10)


mean_area = top_10_populated['area'].mean()

In [9]:
# Filter countries with GrowthRate > 1.03
growth_rate_above_103 = data[data['GrowthRate'] > 1.03]


num_countries = len(growth_rate_above_103)

In [32]:
# Filter countries with area > 1,000,000
area_above_1_million = data[data['area'] > 1000000]

print(len(area_above_1_million))

Series([], Name: count, dtype: int64)

# Exercise 3 - Aggregate and group data

Use the IMDB dataset available in moodle `IMDB-Movie-Data.csv`

In [11]:
movies = pd.read_csv("https://raw.githubusercontent.com/fmmb/CEB/main/data/IMDB-Movie-Data.csv")

Group the movies by 'Genre' and calculate the average IMDb rating for each genre

In [12]:
 movies.groupby('Genre')['Rating'].mean()

# To see the output, run the code.

Group the movies by 'Year' and count how many movies were released in each year.

In [13]:
movies.groupby('Year')['Title'].count()

# To see the output, run the code.

Create a pivot table showing the average rating of movies for each genre per year.

In [14]:
 movies.pivot_table(values='Rating', index='Genre', columns='Year', aggfunc='mean')

# To see the output, run the code.

Use vectorized string operations to extract the first letter of each director's name

In [21]:
 movies['Director'].str[0]

0      J
1      R
2      M
3      C
4      D
      ..
995    B
996    E
997    J
998    S
999    B
Name: Director, Length: 1000, dtype: object

Find all movies whose title strats with the word 'The'

In [20]:
 movies[movies['Title'].str.startswith('The')]

# To see the output, run the code.

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
15,16,The Secret Life of Pets,"Animation,Adventure,Comedy",The quiet life of a terrier named Max is upend...,Chris Renaud,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",2016,87,6.6,120259,368.31,61.0
38,39,The Magnificent Seven,"Action,Adventure,Western",Seven gunmen in the old west gradually come to...,Antoine Fuqua,"Denzel Washington, Chris Pratt, Ethan Hawke,Vi...",2016,132,6.9,122853,93.38,54.0
43,44,The Founder,"Biography,Drama,History","The story of Ray Kroc, a salesman who turned t...",John Lee Hancock,"Michael Keaton, Nick Offerman, John Carroll Ly...",2016,115,7.2,37033,12.79,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...
953,954,The Kings of Summer,"Adventure,Comedy,Drama","Three teenage friends, in the ultimate act of ...",Jordan Vogt-Roberts,"Nick Robinson, Gabriel Basso, Moises Arias,Nic...",2013,95,7.2,65653,1.29,61.0
962,963,The Other Boleyn Girl,"Biography,Drama,History",Two sisters contend for the affection of King ...,Justin Chadwick,"Natalie Portman, Scarlett Johansson, Eric Bana...",2008,115,6.7,88260,26.81,50.0
967,968,The Walk,"Adventure,Biography,Crime","In 1974, high-wire artist Philippe Petit recru...",Robert Zemeckis,"Joseph Gordon-Levitt, Charlotte Le Bon,Guillau...",2015,123,7.3,92378,10.14,NaN
969,970,The Lone Ranger,"Action,Adventure,Western",Native American warrior Tonto recounts the unt...,Gore Verbinski,"Johnny Depp, Armie Hammer, William Fichtner,To...",2013,150,6.5,190855,89.29,NaN
979,980,The Skin I Live In,"Drama,Thriller","A brilliant plastic surgeon, haunted by past t...",Pedro Almodóvar,"Antonio Banderas, Elena Anaya, Jan Cornet,Mari...",2011,120,7.6,108772,3.19,70.0

Convert all movie titles to uppercase

In [19]:
 movies['Title'].str.upper()

0      GUARDIANS OF THE GALAXY
1                   PROMETHEUS
2                        SPLIT
3                         SING
4                SUICIDE SQUAD
                ...
995       SECRET IN THEIR EYES
996            HOSTEL: PART II
997     STEP UP 2: THE STREETS
998               SEARCH PARTY
999                 NINE LIVES
Name: Title, Length: 1000, dtype: object